framework: net8.0
source https://api.nuget.org/v3/index.json

// AWS
nuget AWSSDK.DynamoDBv2 3.7.301.21
nuget AWSSDK.Extensions.NETCore.Setup 3.7.300
nuget AWSSDK.SimpleNotificationService 3.7.301.5
nuget AWSSDK.SimpleEmail 3.7.300.57

// Misc
nuget Autofac 8.0.0
nuget Autofac.Extensions.DependencyInjection 9.0.0

nuget Dapper 2.1.35
nuget Destructurama.JsonNet 3.0.0
nuget FluentFTP 50.0.1
nuget NodaTime 3.1.11
nuget Newtonsoft.Json 13.0.3
nuget GeoJSON.NET 1.2.19
nuget MediatR 12.2.0
nuget MediatR.Contracts 2.0.1
nuget Polly 8.3.1

// Datadog
nuget Datadog.Trace.Bundle 2.49.0

// NationalRegistry specific
nuget Fastenshtein 1.0.0.8
nuget FlatFiles 5.0.4

// ASPNET
nuget AspNetCore.HealthChecks.NpgSql 8.0.1

// MICROSOFT EXTENSIONS
nuget Microsoft.Extensions.Http 8.0.0

// ENTITY FRAMEWORK
nuget NetTopologySuite 2.5.0
nuget Npgsql 8.0.2
nuget Npgsql.EntityFrameworkCore.PostgreSQL.NetTopologySuite 8.0.2
nuget Npgsql.EntityFrameworkCore.PostgreSQL 8.0.2
nuget Npgsql.EntityFrameworkCore.PostgreSQL.Design 2.0.0-preview1
nuget Microsoft.EntityFrameworkCore.Design 8.0.3

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.Api 23.1.0

nuget Be.Vlaanderen.Basisregisters.Auth.AcmIdm 2.1.0
nuget Be.Vlaanderen.Basisregisters.Aws.DistributedMutex 4.0.1

nuget Be.Vlaanderen.Basisregisters.BlobStore 4.0.0
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 7.2.5

nuget Be.Vlaanderen.Basisregisters.GrAr.Common 21.1.0
nuget Be.Vlaanderen.Basisregisters.GrAr.Extracts 21.1.0
nuget Be.Vlaanderen.Basisregisters.GrAr.Notifications 21.1.0
nuget Be.Vlaanderen.Basisregisters.NisCodeService.HardCoded 2.0.0
nuget Be.Vlaanderen.Basisregisters.Shaperon 10.0.2

// TEST STUFF
nuget Be.Vlaanderen.Basisregisters.DockerUtilities 2.0.0
nuget Microsoft.EntityFrameworkCore.InMemory 8.0.3
nuget Microsoft.NET.Test.Sdk 17.9.0
nuget Microsoft.AspNetCore.Mvc.Testing 8.0.3
nuget Microsoft.AspNetCore.TestHost 8.0.3
nuget AutoFixture 4.18.1
nuget FluentAssertions 6.12.0
nuget xunit 2.7.0
nuget xunit.runner.visualstudio 2.5.7
nuget xunit.categories 2.0.8
nuget Moq 4.20.70
nuget NodaTime.Testing 3.1.11

nuget Serilog 3.1.1
nuget Serilog.Settings.Configuration 8.0.0
nuget Serilog.Extensions.Logging 8.0.0
nuget Serilog.Sinks.Console 5.0.1
nuget Serilog.Sinks.File 5.0.0
nuget Serilog.Enrichers.Thread 3.1.0
nuget Serilog.Enrichers.Environment 2.3.0
nuget Serilog.Formatting.Compact 2.0.0

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true
